<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Horse</title>
</head>
<body>
<h2>Update Horse</h2>
<form action="#" th:action="@{/saveHorse}" th:object="${horse}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{nickname}" />
    </div>
    <div>
        <label>Gender:</label>
        <input type="text" th:field="*{gender}" />
    </div>
    <div>
        <label>Breed:</label>
        <input type="text" th:field="*{breed}" />
    </div>
    <div>
        <label>Age:</label>
        <input type="number" th:field="*{age}" />
    </div>
    <div>
        <label>Owner:</label>
        <input type="text" th:field="*{owner}"/>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
<a href="/horses">Back</a>
</body>
</html>
